.title_color {
  background: #f3f3f3;
}

.main_color {
  background: #e4f3dd;
}

.form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 950px;
  background: white;
}

.form_wrap .company_form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "nav nav nav nav" "company company_text boss boss_text " "address address_text address_text address_text" "manager manager_text compony_position compony_position_text" "phone phone_text email email_text" "website website_text website_text website_text" "Field Field_text Field_text Field_text" "item item_text item_text item_text" "banner banner_text banner_text banner_text";
  grid-gap: 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.form_wrap .company_form nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
}

.form_wrap .company_form .form {
  border: 1px solid black;
}

.form_wrap .company_form .form.company {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: company;
}

.form_wrap .company_form .form.company_text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: company_text;
}

.form_wrap .company_form .form.boss {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: boss;
}

.form_wrap .company_form .form.boss_text {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: boss_text;
}

.form_wrap .company_form .form.address {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: address;
}

.form_wrap .company_form .form.address_text {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: address_text;
}

.form_wrap .company_form .form.manager {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: manager;
}

.form_wrap .company_form .form.manager_text {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: manager_text;
}

.form_wrap .company_form .form.compony_position {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: compony_position;
}

.form_wrap .company_form .form.compony_position_text {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: compony_position_text;
}

.form_wrap .company_form .form.phone {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: phone;
}

.form_wrap .company_form .form.phone_text {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: phone_text;
}

.form_wrap .company_form .form.email {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: email;
}

.form_wrap .company_form .form.email_text {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
  grid-area: email_text;
}

.form_wrap .company_form .form.website {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: website;
}

.form_wrap .company_form .form.website_text {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: website_text;
}

.form_wrap .company_form .form.Field {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: Field;
}

.form_wrap .company_form .form.Field_text {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: Field_text;
}

.form_wrap .company_form .form.item {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: item;
}

.form_wrap .company_form .form.item_text {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: item_text;
}

.form_wrap .company_form .form.banner {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: banner;
}

.form_wrap .company_form .form.banner_text {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: banner_text;
}

.form_wrap .business_Registration {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "number number_input" "file file_input";
  grid-gap: 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.form_wrap .business_Registration .Registration {
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.form_wrap .business_Registration .Registration.number {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: number;
}

.form_wrap .business_Registration .Registration.number_input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: number_input;
}

.form_wrap .business_Registration .Registration.file {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: file;
}

.form_wrap .business_Registration .Registration.file_input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: file_input;
}

.form_wrap .application {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: .3fr .7fr 1fr 1fr 1fr 1fr;
      grid-template-columns: .3fr .7fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "division division quantity quantity unit_price price" "boothname independent independent_ea independent_ea independent_ea_support independent_ea_support_total" "boothname nomal nomal_ea nomal_ea nomal_ea_support nomal_ea_support_total" "boothname premium premium_ea premium_ea premium_ea_support premium_ea_support_total" "elec one_phase one_phase_kw one_phase_kw one_phase_kw_won one_phase_kw_total" "elec two_phase two_phase_kw two_phase_kw two_phase_kw_won two_phase_kw_total" "elec three_phase three_phase_kw three_phase_kw three_phase_kw_won three_phase_kw_total" "tell ko ko_unit ko_unit ko_unit_won ko_unit_total" "tell global global_unit global_unit global_unit_won global_unit_total" "water water water_won water_won water_place water_place_total" "air air air_won air_won air_place air_place_total " "lan lan lan_port lan_port lan_port_won lan_port_total" "subtotal subtotal subtotal_total subtotal_total subtotal_total subtotal_total" "vat vat vat_total vat_total vat_total vat_total" "total total total_end total_end total_end total_end" "atc atc atc_text atc_text atc_text atc_text";
  grid-gap: 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: white;
}

.form_wrap .application .booth {
  border: 1px solid #c0c0c0;
}

.form_wrap .application .booth.division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: division;
}

.form_wrap .application .booth.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: quantity;
}

.form_wrap .application .booth.unit_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: unit_price;
}

.form_wrap .application .booth.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: price;
}

.form_wrap .application .booth.boothname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: boothname;
}

.form_wrap .application .booth.independent {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: independent;
}

.form_wrap .application .booth.nomal {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: nomal;
}

.form_wrap .application .booth.premium {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: premium;
}

.form_wrap .application .booth.elec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: elec;
}

.form_wrap .application .booth.one_phase {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: one_phase;
}

.form_wrap .application .booth.two_phase {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: two_phase;
}

.form_wrap .application .booth.three_phase {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: three_phase;
}

.form_wrap .application .booth.tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: tell;
}

.form_wrap .application .booth.ko {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: ko;
}

.form_wrap .application .booth.global {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  grid-area: global;
}

.form_wrap .application .booth.water {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: water;
}

.form_wrap .application .booth.air {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: air;
}

.form_wrap .application .booth.lan {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: lan;
}

.form_wrap .application .booth.independent_ea {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: independent_ea;
}

.form_wrap .application .booth.nomal_ea {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: nomal_ea;
}

.form_wrap .application .booth.premium_ea {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: premium_ea;
}

.form_wrap .application .booth.one_phase_kw {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: one_phase_kw;
}

.form_wrap .application .booth.two_phase_kw {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: two_phase_kw;
}

.form_wrap .application .booth.three_phase_kw {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: three_phase_kw;
}

.form_wrap .application .booth.ko_unit {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: ko_unit;
}

.form_wrap .application .booth.global_unit {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: global_unit;
}

.form_wrap .application .booth.water_place {
  -ms-grid-row: 10;
  -ms-grid-column: 5;
  grid-area: water_place;
}

.form_wrap .application .booth.air_place {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
  grid-area: air_place;
}

.form_wrap .application .booth.lan_port {
  -ms-grid-row: 12;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: lan_port;
}

.form_wrap .application .booth.water_won {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: water_won;
}

.form_wrap .application .booth.one_phase_kw_won {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: one_phase_kw_won;
}

.form_wrap .application .booth.two_phase_kw_won {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
  grid-area: two_phase_kw_won;
}

.form_wrap .application .booth.three_phase_kw_won {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: three_phase_kw_won;
}

.form_wrap .application .booth.ko_unit_won {
  -ms-grid-row: 8;
  -ms-grid-column: 5;
  grid-area: ko_unit_won;
}

.form_wrap .application .booth.global_unit_won {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  grid-area: global_unit_won;
}

.form_wrap .application .booth.air_won {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: air_won;
}

.form_wrap .application .booth.air_won {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: air_won;
}

.form_wrap .application .booth.lan_port_won {
  -ms-grid-row: 12;
  -ms-grid-column: 5;
  grid-area: lan_port_won;
}

.form_wrap .application .booth.independent_ea_support {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: independent_ea_support;
}

.form_wrap .application .booth.nomal_ea_support {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: nomal_ea_support;
}

.form_wrap .application .booth.premium_ea_support {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: premium_ea_support;
}

.form_wrap .application .booth.subtotal {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: subtotal;
}

.form_wrap .application .booth.subtotal_total {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: subtotal_total;
}

.form_wrap .application .booth.vat {
  -ms-grid-row: 14;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: vat;
}

.form_wrap .application .booth.vat_total {
  -ms-grid-row: 14;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: vat_total;
}

.form_wrap .application .booth.total {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: total;
}

.form_wrap .application .booth.total_end {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: total_end;
}

.form_wrap .application .booth.atc {
  -ms-grid-row: 16;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: atc;
}

.form_wrap .application .booth.atc_text {
  -ms-grid-row: 16;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: atc_text;
}

.form_wrap .application .booth.independent_ea_support_total {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: independent_ea_support_total;
}

.form_wrap .application .booth.nomal_ea_support_total {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: nomal_ea_support_total;
}

.form_wrap .application .booth.premium_ea_support_total {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: premium_ea_support_total;
}

.form_wrap .application .booth.one_phase_kw_total {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
  grid-area: one_phase_kw_total;
}

.form_wrap .application .booth.two_phase_kw_total {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
  grid-area: two_phase_kw_total;
}

.form_wrap .application .booth.three_phase_kw_total {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
  grid-area: three_phase_kw_total;
}

.form_wrap .application .booth.ko_unit_total {
  -ms-grid-row: 8;
  -ms-grid-column: 6;
  grid-area: ko_unit_total;
}

.form_wrap .application .booth.global_unit_total {
  -ms-grid-row: 9;
  -ms-grid-column: 6;
  grid-area: global_unit_total;
}

.form_wrap .application .booth.water_place_total {
  -ms-grid-row: 10;
  -ms-grid-column: 6;
  grid-area: water_place_total;
}

.form_wrap .application .booth.air_place_total {
  -ms-grid-row: 11;
  -ms-grid-column: 6;
  grid-area: air_place_total;
}

.form_wrap .application .booth.lan_port_total {
  -ms-grid-row: 12;
  -ms-grid-column: 6;
  grid-area: lan_port_total;
}
/*# sourceMappingURL=form.css.map */